<div class="container">
  <h2 class="text-center">List of Employees</h2>
  <div class="col-md-4">
    <button type="button" class="btn btn-block" (click)="goAdd()">New</button>
  </div>
  <table  class="table table-hover">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Surname</td>
            <td>Experience</td>
            <td>Age</td>
            <td>Address</td>
          </tr>
    </thead>
    <tbody *ngFor="let employee of employees">
      <tr>
        <td #id>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.surname}}</td>
        <td>{{employee.exp}}</td>
        <td>{{employee.age}}</td>
        <td>{{employee.address}}</td>
        <td><button type="button" class="btn" routerLink="/edit/{{employee.id}}">Edit</button></td>
        <td><button type="button" class="btn" (click)="deleteEmployee(employee.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
